$desktop-standart: 1440px;
$desktop-small: 1280px;
$tablet: 991px;
$mobile-horizontal: 767px;
$mobile-vertical: 479px;
$minimum-size: 370px;
 

:root {
  --text-color: #626c7c;
  --title-color: #093368;
  --error-color: #c6190f;
  --accent-color: #831b15;
  --interactive-color: #142e80;
  --logos-color: #8592bc;
  --main-background: #f4f4f4;
  --white-color: #fff;
  --dark-gray-color: #e0e0e0;
  --disabled-color: #D3D3D3;
}